@import "_vars";
@import "_global";

.header {
  background-image: url(../images/top-bg.jpg);
  height: 100vh;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.menu-list-item {
  display: inline-block;
}

.menu-list-item + .menu-list-item {
  margin-left: 52px;
}

.menu-list-item-link {
  transition: all .5s;
}

.menu-list-item-link:hover {
  text-decoration: underline;
}

.header-phone {
  padding-left: 40px;
  padding-top: 20px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    background-image: url(../images/ico-ring.svg);
    width: 30px;
    height: 30px;
    left: 0;
  }
}

.header-title {
  padding-top: 152px;
  text-align: center;
  font-size: 250px;
  line-height: 334px;
  font-family: Balqis, sans-serif;
  font-weight: 300;

  span {
    display: block;
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    font-style: italic;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: -66px;
    margin-right: 85px;
  }
}

.fairy-tail-slider {
  width: 50%;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 7;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.fairy-tail-inner {
  position: relative;
}

.fairy-tail-container, .our-trip-container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fairy-tail-body {
  margin-left: auto;
  width: 50%;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.fairy-tail-body-title {
  font-weight: 400;
}

.fairy-tail-title{
  span{
    margin-left: 185px;
  }
}

.fairy-tail-text {
  padding: 10px 0;
}

.our-trip-inner {
  position: relative;
}

.our-trip-slider {
  width: 50%;
  margin-left: auto;
}

.our-trip-title{
  span{
    margin-left: 240px;
  }
}

.our-trip-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 100%;
}

.our-trip-list{
  margin: 5px 0;
  font-size: 24px;
  line-height: 28px;
  li:first-child{
    margin-bottom: 20px;
    font-weight: 400;
  }
}

.our-trip-btn{
  font-size: 24px;
  line-height: 28px;
  border: 1px solid $color-title;
  padding: 11px 53px;
}
 .our-trip-content{
   width: 50%;
   padding-right: 55px;
 }


@import "_media";